.mpris-content {
  margin-top: 2px;
}

.mpris label {
  color: var(--pink);
}

levelbar.mpris-progress {
  margin-top: 0;
  margin-bottom: 0;

  trough {
    min-height: 2px;
    background: var(--surface0);
    border: none;
    border-radius: 0 0 var(--bubble-radius) var(--bubble-radius);

    block {
      min-height: 2px;
      border: none;

      &.filled {
        background: var(--pink);
        border-radius: 0 0 0 var(--bubble-radius);
      }
    }
  }
}
