* {
  font-family: "JetBrainsMono Nerd Font", monospace;
  font-size: 14px;
  font-weight: 500;
}

window.Bar,
Bar {
  background: none;
  color: var(--text);

  centerbox {
    padding: 4px 8px;
  }
}

.bubble {
  background: color-mix(in srgb, var(--base) 78%, transparent);
  color: var(--text);
  border-radius: 8px;
  padding: 0 12px;
  margin: 3px 4px;
  box-shadow: 0 2px 6px color-mix(in srgb, var(--crust) 50%, transparent);
  min-height: 26px;
  transition: all 220ms cubic-bezier(.2, .8, .2, 1);
}
