.mpris-content {
  margin-top: 2px;
}

.mpris label {
  color: var(--pink);
}

levelbar.mpris-progress {

  margin-bottom: 0;
  margin-top: 0;

  trough {
    min-height: 2px;
    background: var(--surface0);
    border: none;
    border-radius: 0 0 8px 8px;

    block {
      min-height: 2px;
      border: none;

      /* Ensure the fill also respects the bottom curve */
      &.filled {
        background: var(--pink);
        border-radius: 0 0 0 8px;
      }
    }
  }
}