.vpn {
  color: var(--overlay0);

  &.active {
    color: var(--green);
  }

  &:hover {
    background: color-mix(in srgb, var(--green) 15%, transparent);
    color: var(--green);
  }
}

.vpn-menu {
  padding: 4px;

  button {
    background: transparent;
    border-radius: 4px;
    padding: 4px 8px;
    box-shadow: none;
    min-height: 22px;

    &:hover {
      background: color-mix(in srgb, var(--green) 18%, transparent);
      color: var(--green);
    }
  }
}
