@use "mixins" as *;

* {
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
}

window.Bar,
Bar {
  background: none;
  color: var(--text);
  padding: var(--bar-padding-y) var(--bar-padding-x);
}

.audio,
.battery,
.clock,
.hardware,
.mpris,
.network,
.notifications,
.power,
.vpn {
  @include bubble-base;
}
